#web
    padding: 100px
    // height: 100vh
    display: flex
    justify-content: center
    align-items: center
    background-color: #f4f3ee
    .box
        display: flex
        justify-content: center
        flex-direction: column 
        border: 2px solid #8d99ae
        border-radius: 15px
        background-color: #cad2c5
        height: 300px
        width: 200px
        h1
            font-size: 30px
        input
            margin:  50px 5px
        .btn
            border: 1px solid #150d0d
            margin: 5px 50px